@font-face {
    font-family: "Brick-Font";
    src: url('./fonts/BlockStockRegular-A71p.ttf');
}

.container{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100vw;
    max-height: 100vh;
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 2s;

    h1{
        position: relative;
        font-size: 4.5em;
        font-family: 'Brick-Font';
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 100;
        color: #dc5539;
        cursor: default;
    }

    h2{
        padding: 10px;
        position: relative;
        margin-top: -290px;
        font-size: 2em;
        letter-spacing: 3px;
        font-family: 'Brick-Font';
        color: rgb(194, 194, 194);
        cursor: pointer;
        transition: color .2s;

        &::before{
            position: absolute;
            left: -40px;
            top: 10px;
            content: '';
            width: 40px;
            height: 40px;
            background: url(./images/icon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            animation: MoveTank 1.3s infinite ease-in;
        }
    }
}

.game_over{
    top: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 0px;
    height: 100%;
    width: 100vw;
    max-height: 100vh;
    background: rgb(1, 1, 1);
    z-index: 1000;
    transition: .8s linear;

    h1{
        font-size: 4.5em;
        font-family: 'Brick-Font';
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 100;
        color: #dc5539;
        cursor: default;
    }

    h2{
        padding: 10px;
        position: relative;
        margin-top: -290px;
        font-size: 2em;
        letter-spacing: 3px;
        font-family: 'Brick-Font';
        color: rgb(194, 194, 194);
        cursor: pointer;
        transition: color .2s;

        &::before{
            position: absolute;
            left: -40px;
            top: 10px;
            content: '';
            width: 40px;
            height: 40px;
            background: url(./images/icon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            animation: MoveTank 1.3s infinite ease-in;
        }
    }
}

.game_over.hidden{
    transform: translate(0%, 200%);
    overflow: hidden;

    h1{
        display: none;
    }

    h2{
        display: none;
    } 
}

@keyframes MoveTank {
    0%{
        left: -40px;
    }

    100%{
        left: -60px;
    }
}

.container.hidden{
    transform: translate(0%, 200%);
}
